.icon-wrapper {
    width: 200px;
    height: 200px;
    background: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    padding: 2.5em;
    margin: 2em auto;
    border-radius: 50%;
    overflow: hidden;
}

.cls-1,
.cls-2 {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.cls-1 {
    stroke-width: 2px;
}

.icon-wrapper #air {
    stroke-dashoffset: 0;
    stroke-dasharray: 33;
    transition: all 2s ease;
}

.icon-wrapper:hover #air {
    stroke-dashoffset: 66;
}

.icon-wrapper #ball {
    transition: all 1.5s ease;
    transform: rotate(0);
    transform-origin: center;
    position: relative;
}

.icon-wrapper:hover #ball {
    transform: rotate(360deg);
}