  :root {
    --linear-gradient-1: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%), fixed;
  }
  html {
    height: 100%;
  }
  body { 
    font-family: Roboto,Helvetica Neue,sans-serif;
    word-wrap: break-word;
    box-sizing: inherit;
    height: 100%;
    margin: 0;
  }

  .wrapper{
    background: var(--linear-gradient-1);
    min-height: 100%;
    padding: 1% 1% 1% 1%;
  }
  
  .content{
    min-height: 95%;
    min-width: 95%;
    padding: 0 6% 1% 6%;
    display: block;
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 20px -4px #555;
    box-shadow: 0 0 20px -4px #555;
  }

  .nav{
    margin-top: 2%;
  }

  .nav a, .nav-link a, a.tag-default {
    color: #1f1f1f !important;
  }

  .sticky{
    position: absolute;
    bottom: 0;
    height:100px;
  }
  
  .brand-name{
    background: var(--linear-gradient-1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
  }

  .jumbotron{
    background: var(--linear-gradient-1);
    color: #fff;
    border-radius: 15px;
    -webkit-border-radius: 15px;
  }
  
  .card{
    border: none;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .card.disabled {
    opacity: 0.5;
  }
  
  .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .user-pic {
    position: relative;
    top: -20px;
    float: left;
    left: -8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .user-pic--plan {
    position: relative;
    top: -20px;
    left: -8px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .card-img-top{
    width: 100%;
    height: 10%;
    border-radius: 2px;
  }
  
  a {
    cursor: pointer;
  }

  .btn-primary {
    background: var(--linear-gradient-1);
    border-color: #fff !important;
    background-color: #fff !important;
  }
  
  .tag-default {
    padding-right: 4px;
  }
  
